.form {
  background-color: #4d50df;
  padding: 1rem;
  width: 20rem;
}

.form label {
  display: block;
  margin-bottom: 0.05rem;
  color: #eadbfb;
  font-weight: bold;
}

.form input,
.form textarea {
  display: block;
  width: 100%;
  font: inherit;
  padding: 0.5rem;
  border-radius: 6px;
  border: none;
  background-color: #c4a9e4;
  color: #28262c;
}

.actions {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 0.5rem;
  outline: none;
}

.actions button {
  cursor: pointer;
  font: inherit;
  padding: 0.5rem 1.5rem;
  border: none;
  border-radius: 4px;
  background-color: #3b40e1;
  color: #e5d5f7;
}

.hello{
  text-align: center;
}

.actions button:hover {
  background-color: #10209b;
}

.actions a {
  background-color: transparent;
  text-decoration: none;
  color: #e5d5f7;
}

.actions a:hover {
  color: #d1bee6;
}