.post {
  padding: 1rem;
  margin-bottom: 0.8rem;
  background-color: #7385de;
  border-radius: 8px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
  animation: animate-in 1s ease-out forwards;
  width: 100%;
  cursor: pointer;
}

.post a {
  text-decoration: none;
}

.author {
  font-size: 0.8rem;
  font-weight: bold;
  color: #b4b7e1;
  margin: 0;
  text-transform: uppercase;
}

.text {
  white-space: pre-wrap;
  font-size: 1.25rem;
  margin: 0.25rem 0 0 0;
  color: #3b45af;
  font-style: italic;
}

@keyframes animate-in {
  from {
    opacity: 0;
    transform: translateY(1rem);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}